<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
</head>
<body>
<div >
<div>
    <div >当前位置: 评论管理 - 列表</div>

</div>
<form id="tableForm" method="post">
<input type="hidden" name="pageNo" value=""/>
<table    width="100%" cellspacing="1" cellpadding="0" border="0">
<thead>
<tr>
    <th width="20">
        <input type='checkbox' onclick='Pn.checkbox("ids",this.checked)'/>
    </th>
    <th>ID</th>
    <th>评论</th>
    <th>文档</th>
    <th>会员</th>
    <th>操作选项</th>
</tr>
</thead>
<tbody>
<tr>
    <td><input type='checkbox' name='ids' value='44'/></td>
    <td>44</td>
    <td><span style="color:red">[未审核]</span>
        <br/> <a >dadasdaaavvvvvvvvvvvv</a>
    </td>
    <td><a href="#" target="_blank" title="大连遭遇强降雪和寒潮天气">大连遭遇强降雪和寒潮天气</a>
    </td>
    <td align="center"> 匿名<br/> 58.41.181.216<br/>2011-09-10 01:23:22
    </td>
    <td align="center">
        <a href="#" >修改</a>
        | <a href="#" onclick="if(!confirm('您确定删除吗？')) {return false;}">删除</a>
    </td>
</tr>
</tbody>
</table>
<div><input type="button" value="删除" onclick="optDelete();"/></div>
</form>
</div>
</body>
</html>