<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syspeak.oa.dao.UserMapper">

	<insert id="addUser" parameterType="User">
		insert into
		t_user(username, password, enabled,
		createDate)
		values(#{username},
		#{password}, #{enabled}, #{createDate})
	</insert>
	<select id="getUser" parameterType="String" resultType="User">
		select * from t_user where username=#{username}
	</select>

	<select id="listUsers" resultType="User" parameterType="Map">
		select * from t_user
		<where>
			<if test="username != null">
				username like '%${username}%'
			</if>
			<if test="enabled != '' and enabled != null">
				<choose>
					<when test="enabled == '11'">
						and enabled=1
					</when>
					<when test="enabled == '00'">
						and enabled=0
					</when>
				</choose>
			</if>
		</where>
	</select>

	<select id="getTotal" resultType="int" parameterType="Map">
		select count(*) from t_user
		<where>
			<if test="username != null">
				username like '%${username}%'
			</if>
			<if test="enabled != '' and enabled != null">
				<choose>
					<when test="enabled == '11'">
						and enabled=1
					</when>
					<when test="enabled == '00'">
						AND enabled=0
					</when>
				</choose>
			</if>
		</where>
	</select>

	<select id="getUserserCountByUsername" parameterType="String" resultType="int">
		select count(*) from t_user where
		username=#{username}
	</select>

	<delete id="deleteUsers" parameterType="List">
		delete from t_user where id in
		<foreach item="item" collection="list" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>

</mapper>
