<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>left</title>
    <link href="../../css/sidebar/sidebar.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../js/common/jquery.js"></script>
    <script type="text/javascript" src="../../js/common/sidebar.js"></script>
</head>
<body>
<div id="sidebar">
    <div id="sidebar-wrapper">
        <ul id="main-nav">
            <li><a class="nav-top-item">登录账号</a>
                <ul>
                    <li><a href="role/manage.html" target="rightFrame">修改密码</a></li>
                    <li><a href="role/manage.html" target="rightFrame">新增用户</a></li>
                    <li><a href="role/manage.html" target="rightFrame">用户列表</a></li>

                </ul>

            </li>
            <li>
                <a class="nav-top-item">角色管理</a>
                <ul>
                    <li><a href="user/manage.html" target="rightFrame">新增角色</a></li>
                    <li><a href="user/manage.html" target="rightFrame">角色列表</a></li>
                </ul>
            </li>

            <li>
                <a class="nav-top-item">机构管理</a>
                <ul>
                    <li><a href="user/manage.html" target="rightFrame">机构列表</a></li>
                </ul>
            </li>

                <li>
                <a class="nav-top-item">人员管理</a>
                <ul>
                    <li><a href="user/manage.html" target="rightFrame">新增人员</a></li>
                     <li><a href="user/manage.html" target="rightFrame">人员列表</a></li>
                </ul>
            </li>

                    <li>
                <a class="nav-top-item">基础管理</a>
                <ul>
                    <li><a href="user/manage.html" target="rightFrame">系统日志</a></li>
                     <li><a href="user/manage.html" target="rightFrame">定时任务</a></li>
                </ul>
            </li>

        </ul>
        <!-- End #main-nav -->
    </div>
</div>
<!-- End #sidebar -->
</body>
</html>