
<html>
<head>

</head>
<body >
  <form>
<table>
  <tr>
    <td width="73"  >您的位置：</td>
    <td width="599" >用户管理>>修改个人资料</td>
</table>
<table width="810" border="0" cellpadding="0" cellspacing="0" class="hg0">
  <tr>
    <td height="29">&nbsp;</td>
  </tr>
</table>


    <table >
      <tr>
        <td width="22%" height="40" align="right" >用户名：</td>
        <td width="78%">user
        <input name="userName" id="userName" type="hidden"  value="user">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[提示：带*的项可以修改]</td>
      </tr>
      <tr>
        <td height="40" align="right" >密　码：</td>
        <td><input name="password" type="password" class="from1" value="111111" size="50" maxlength="20" style="width:300px;">
        *</td>
      </tr>
      <tr>
        <td height="40" align="right" >全　名：</td>
        <td><input name="fullName" id="fullName" type="text" class="from1" value="管理员" size="50" maxlength="20" style="width:300px;">
        *</td>
      </tr>
      <tr>
        <td height="40" align="right" >单　位：</td>
        <td>南海区人民政府</td>
      </tr>
      <tr>
        <td height="40" align="right" >部　门：</td>
        <td>电子政务科</td>
      </tr>
      <tr>
        <td height="40" align="right" >职　位：</td>
        <td>科员                  </td>
      </tr>
      <tr>
        <td height="40" align="right" >电　话：</td>
        <td><input id="cell" name="cell" type="text" class="from" value="123" size="50" maxlength="12" style="width:300px;">
        *</td>
      </tr>
      <tr>
        <td height="40" align="right" >邮　件：</td>
        <td><input id="email" name="email" type="text" class="from" value="user@gdnanhai.gov.cn" size="50" maxlength="50" style="width:300px;">
        *</td>
      </tr>
         <tr>
		<td height="40" align="center" >&nbsp;</td>
	    <td height="40" >
			<input name="提交" type="submit" class="BTinput" value="提 交" />
			&nbsp;
			<input name="取消" type="reset" class="BTinput"  value="取 消"/></td>
      </tr>
      <tr>
        <td height="30" align="right" >&nbsp;</td>
        <td></td>
      </tr>
    </table>
  </form>
</body>
</html>
