<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" src="/js/cryptography/jquery.md5.js"></script>
    <script type="text/javascript" src="/js/common/jquery.js"></script>
    <style type="text/css">
        body {
            background-repeat: repeat-x;
            background-image: url(../images/login/bg.gif);
            text-align: center;
            background-color: #5AB8DA;
            font-size: 14px;
            color: #FFF;
        }

        a {
            text-decoration: none;
            color: #00437d;
        }

        h1 {
            font-family: "黑体";
        }

        .copyright {
            font-size: 12px;
            line-height: 22px;
            text-align: center;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#js_warning").remove();
            $("#password").attr("value", '');
        });

        function dosubmit() {
            if ($("#username").attr('value') == '') {
                showMessage("'用户帐号'不能为空！");
                $("#username").focus();
                return false;
            } else if ($("#password").attr('value') == '') {
                showMessage("'登录密码'不能为空！");
                $("#password").focus();
                return false;
            } else if ($("#captcha").attr('value') == '') {
                showMessage("'验证码'不能为空！");
                $("#password").focus();
                return false;
            }

            $("#password").attr("value", $.md5($("#password").attr("value")));
            return true;
        }

        /**
         * 显示提示信息
         */
        function showMessage(msg) {
            if ($('.error').html() == null)
                $('.messages').child("<div class='error'>" + msg + "</div>")
            else
                $('.error').text(msg);
        }

        function refresh() {
            var src = "/images/kaptcha.jpg?rnd=" + Math.random();
            $("#jcaptcha").attr("src", src);
        }
    </script>
</head>
<body leftmargin="0" topmargin="0">
<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="393" height="120">&nbsp;</td>
        <td width="610">&nbsp;</td>
    </tr>
    <tr>
        <td>
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                    codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0"
                    width="415" height="340">
                <param name="movie" value="../images/login/load.swf">
                <param name="wmode" value="opaque">
                <param name="quality" value="high">
                <embed src="../images/login/load.swf" quality="high"
                       pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"
                       width="415" height="340">
                </embed>
            </object>
        </td>
        <td valign="top">
            <table width="588" border="0" cellspacing="0" cellpadding="0">
                <form action="login" method="post" name="form1" id="form1" onSubmit="return check();">
                    <tr>
                        <td height="25" colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="88" colspan="2" align="center"><h1>网站后台管理</h1></td>
                    </tr>
                    <tr>
                        <td width="245" height="46" align="right"><strong>用户名</strong>：</td>
                        <td width="343"><p>
                            <input name='j_username'  id="username" type="text"
                                   style="width:150; height:22; font-weight:bold;">
                        </p></td>
                    </tr>
                    <tr>
                        <td height="47" align="right"><strong>密&nbsp;&nbsp;&nbsp;&nbsp;码</strong>：</td>
                        <td><p>
                            <input name='j_password' id="password" type="password" style="width:150; height:22">
                        </p></td>
                    </tr>
                    <tr>
                        <td height="47" align="right"><strong>验证码</strong>：</td>
                        <td><p>
                            <input type='text' class="captcha" id="captcha" name='j_captcha' size="15"/>
                        </p>
                            <span class="refresh" onclick="refresh();">看不清楚?</span>
                            <img id="jcaptcha" alt="captcha" style="margin-left:0 !important;margin:4px 0 0 2px;"
                                 src="/images/kaptcha.jpg">
                        </td>
                    </tr>


                    <tr>
                        <td height="69">&nbsp;</td>
                        <td><input name="提交" type="image" value="submit" src="../images/login/bt_dl.gif" width="66"
                                   height="36">&nbsp;
                            <img src="../images/login/bt_cz.gif" width="66" height="36" onClick="reset()"
                                 style="cursor:hand "></td>
                    </tr>
                </form>
            </table>
        </td>
    </tr>
    <tr>
        <td height="120" colspan="2" class="copyright">
            <script src="../js/copyright.js" type="text/javascript" charset="gb2312"></script>
        </td>
    </tr>
</table>


<div class="messages" style="float: none;">
    <div class="warning" id="js_warning">您的浏览器不支持JAVASCRIPT，无法登录系统！</div>

</div>

</body>
</html>
