<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="../css/admin.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="../js/common/jquery.js"></script>
<script type="text/javascript" src="../js/common/table.js"></script>
<title>无标题文档</title>
</head>

<body><br/>
<fieldset><legend>待办新闻列表</legend>
<table width="99%" border="0" cellspacing="0" cellpadding="0" class="tableList tableBorder">
  <tr>
    <td width="19%" height="30" class="titleBg">新闻栏目</td>
    <td width="60%" class="titleBg">新闻标题</td>
    <td width="10%" class="titleBg">创建人</td>
    <td width="10%" class="titleBg">创建时间</td>
  </tr>
  <tr>
    <td height="25" class="tdPadding">在此显示新闻栏目</td>
    <td class="tdPadding">在此显示新闻发布的标题</td>
    <td class="tdPadding">在此显示管理员</td>
    <td class="tdPadding">2011-10-6</td>
  </tr>
  <tr>
    <td height="25" class="tdPadding">在此显示新闻栏目</td>
    <td class="tdPadding">在此显示新闻发布的标题</td>
    <td class="tdPadding">在此显示管理员</td>
    <td class="tdPadding">2011-10-6</td>
  </tr>
    <tr>
    <td height="25" class="tdPadding">在此显示新闻栏目</td>
    <td class="tdPadding">在此显示新闻发布的标题</td>
    <td class="tdPadding">在此显示管理员</td>
    <td class="tdPadding">2011-10-6</td>
  </tr>
</table>
</fieldset>
<fieldset><legend>待办留言列表</legend>
<table width="99%" border="0" cellspacing="0" cellpadding="0" class="tableList tableBorder">
  <tr>
    <td width="19%" height="30" class="titleBg">留言编号</td>
    <td width="60%" class="titleBg">留言题目</td>
    <td width="10%" class="titleBg">留言人</td>
    <td width="10%" class="titleBg">时间</td>
  </tr>
  <tr>
    <td height="25" class="tdPadding">在此显示新闻栏目</td>
    <td class="tdPadding">在此显示新闻发布的标题</td>
    <td class="tdPadding">在此显示管理员</td>
    <td class="tdPadding">2011-10-6</td>
  </tr>
  <tr>
    <td height="25" class="tdPadding">在此显示新闻栏目</td>
    <td class="tdPadding">在此显示新闻发布的标题</td>
    <td class="tdPadding">在此显示管理员</td>
    <td class="tdPadding">2011-10-6</td>
  </tr>
    <tr>
    <td height="25" class="tdPadding">在此显示新闻栏目</td>
    <td class="tdPadding">在此显示新闻发布的标题</td>
    <td class="tdPadding">在此显示管理员</td>
    <td class="tdPadding">2011-10-6</td>
  </tr>
</table>
</fieldset>
</body>
</html>