<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>

</head>
<body>
<div>
    <div>
        <div>当前位置: 留言管理 - 修改</div>
        返回列表
    </div>
    <form method="post" action="o_update.do" id="jvForm">
        <table width="100%" cellpadding="2" cellspacing="1" border="0">
            <tr>
                <td width="12%"><span>*</span>留言类别:</td>
                <td colspan="3" width="88%"><select name="ctgId">
                    <option value="1" selected="selected">普通</option>
                </select>
                </td>
            </tr>
            <tr>
                <td width="12%">标题:</td>
                <td colspan="3" width="88%"><input type="text" maxlength="255" value="1231" name="title" size="70"
                                                   maxlength="255"/></td>
            </tr>
            <tr>
                <td width="12%">留言内容:</td>
                <td colspan="3" width="88%"><textarea cols="70" rows="5" name="content" maxlength="255">21231</textarea>
                </td>
            </tr>
            <tr>
                <td width="12%">回复内容:</td>
                <td colspan="3" width="88%"><textarea cols="70" rows="5" name="reply" maxlength="255"></textarea>
                </td>
            </tr>
            <tr>
                <td width="12%">邮箱:</td>
                <td colspan="1" width="38%"><input type="text" maxlength="100" value="asda@oo.cc" name="email"
                                                   maxlength="100"/></td>
                <td width="12%">电话:</td>
                <td colspan="1" width="38%"><input type="text" maxlength="100" value="asdasd" name="phone"
                                                   maxlength="100"/></td>
            </tr>
            <tr>
                <td width="12%">QQ:</td>
                <td colspan="3" width="88%"><input type="text" maxlength="50" value="sasd" name="qq" maxlength="50"/>
                </td>
            </tr>
            <tr>
                <td width="12%">审核:</td>
                <td colspan="1" width="38%"><label><input type="radio" value="true" name="checked"/>是</label>
                    <label><input type="radio" value="false" checked="checked" name="checked"/>否</label></td>
                <td width="12%">推荐:</td>
                <td colspan="1" width="38%"><label><input type="radio" value="true" name="recommend"/>是</label>
                    <label><input type="radio" value="false" checked="checked" name="recommend"/>否</label></td>
            </tr>
            <tr>
                <td colspan="4">

                    <input type="submit" value="提交"/> &nbsp; <input type="reset" value="重置"/>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>