<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>

</head>
<body>
<iframe name="hiddenIframe" frameborder="0" border="0" style="display:none;width:0px;height:0px;"></iframe>
<div class="body-box">
    <div class="rhead">
        <div class="rpos">当前位置: 用户管理 - 修改</div>
        <form class="ropt">
            <input type="submit" value="返回列表" onclick="window.history.go(-1);"/>
        </form>
        <div class="clear"></div>
    </div>
    <form method="post" action="o_save.do" id="jvForm">
        <table width="100%"  cellpadding="2" cellspacing="1" border="0">
            <tr>
                <td width="15%" ><span >*</span>角色名:</td>
                <td colspan="1" width="35%" >
                    <input type="text" maxlength="150" name="name" class="required" maxlength="150"/></td>
                <td width="15%" ><span >*</span>描述:</td>
                <td colspan="1" width="35%" >
                    <input type="text" maxlength="255" value="" name="intro" class="required" style="width:200px" maxlength="255"/></td>
            </tr>
            <tr>
                <td width="15%" >状态:</td>
                <td colspan="3" width="85%" ><label>
                  <input type="radio" name="radio" id="status_available" value="available" />可用</label>
                  <input type="radio" name="radio" id="status_disabled" value="disabled" />不可用</label>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="pn-fbutton">
                    <input type="submit" value="提交"/> &nbsp; <input type="reset" value="重置"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>