<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
</head>
<body>
<div>
    <div>
        <div>当前位置: 评论管理 - 修改</div>
        返回列表
        <div class="clear"></div>
    </div>
    <form method="post"  >
        <table width="100%" cellpadding="2" cellspacing="1" border="0">
            <tr>
                <td width="12%">文档:</td>
                <td colspan="3" width="88%">
                    大连遭遇强降雪和寒潮天气
                </td>
            </tr>
            <tr>
                <td width="12%">会员:</td>
                <td colspan="1" width="38%">
                    匿名
                </td>
                <td width="12%">评论时间:</td>
                <td colspan="1" width="38%">
                    2011-09-10 01:23:22<br/>58.41.181.216
                </td>
            </tr>
            <tr>
                <td width="12%">审核:</td>
                <td colspan="1" width="38%">
                    <label><input type="radio" value="true" name="checked"/>是</label>
                    <label><input type="radio" value="false" checked="checked" name="checked"/>否</label>
                </td>
                <td width="12%">推荐:</td>
                <td colspan="1" width="38%">
                    <label><input type="radio" value="true" name="recommend"/>是</label>
                    <label><input type="radio" value="false" checked="checked" name="recommend"/>否</label>
                </td>
            </tr>
            <tr>
                <td width="12%">评论:</td>
                <td colspan="3" width="88%">
                    <textarea cols="70" rows="5" name="text">dadasdaaavvvvvvvvvvvv</textarea>
                </td>
            </tr>
            <tr>
                <td width="12%">回复:</td>
                <td colspan="3" width="88%">
                    <textarea cols="70" rows="5" name="reply">

                    </textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4" >

                    <input type="submit" value="提交"/> &nbsp;
                    <input type="reset" value="重置"/>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>