<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<style>



</style>
<body>

上传照片      创建相册

<div id="content" class="white">
    <h1><img src="static/img/icons/pictures.png" alt=""/> Gallery</h1>

    <div class="bloc">
        <div class="title">Picture Gallery</div>

        <div class="content">
            <p>You can have gallery inside a block our outside</p>
            <ul class="gallery">
                <li>
                    <a href="#"><img src="http://lorempixum.com/120/80/food/0" alt=""/></a>
                    <span class="info">Image name</span>
                    <a href="#" title="delete Image" class="del">Delete</a>

                    <a href="#" class="over"><span>Edit this image</span></a>
                    <a href="http://lorempixum.com/800/600/food/0?.jpg" class="large zoombox"
                       title="full-size">Enlarge</a>
                </li>

            </ul>
            <div class="cb"></div>
        </div>
    </div>



    <div class="cb"></div>
</div>

</body>
</html>