<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>left</title>
<link href="../../../css/admin.css" rel="stylesheet" type="text/css"/>
<script language=javascript>
function changeWin(){
	if(parent.main.cols != "8,*"){
		parent.main.cols = "8,*";
		document.all.menuSwitch.src = "../../../images/sidebar/jt_right.png";
		document.getElementById("leftMenu").style.display = "NONE";
	}
	else{
		parent.main.cols = "180,*";
		document.all.menuSwitch.src = "../../../images/sidebar/jt_left.png";
		document.getElementById("leftMenu").style.display = "";
	}
}

function changeParWin(){
	if(parent.parent.leftFrame.cols != "8,*"){
		parent.parent.leftFrame.cols = "8,*";
		document.all.menuSwitch.src = "../../../images/sidebar/jt_right.png";
		document.getElementById("leftMenu").style.display = "NONE";
	}
	else{
		parent.parent.leftFrame.cols = "180,*";
		document.all.menuSwitch.src = "../../../images/sidebar/jt_left.png";
		document.getElementById("leftMenu").style.display = "";
	}
}

</script>
</head>

<body>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top" background="../../../images/admin/left/qqmenu_bg.gif" >
    
      <table id="leftMenu" style="display: block" width="158" height="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
          <td height=24 align="center" background="../../../images/admin/treeima/qqmenu.gif" >内容管理</td>
        </tr>
		<tr>
          <td>
		  <iframe id=“mainLis”t name=“mainList” style="height:100%; width:100%; visibility:inherit;" scrolling=auto frameborder=0 src="tree.html"></iframe>
		  </td>
        </tr>
      </table> 
      
    </td>
    <td width="6" background="../../../images/sidebar/title_bg2.png">
    
	<table width=100% height=100% border=0 cellpadding=0 cellspacing=0>
	<tr>
    <td height=22 onclick=changeWin()></td>
   </tr>
	<tr><td></td></tr>
	<tr><td onclick=changeWin() >
        <a href="#"> <img id=menuSwitch border=0 src="../../../images/sidebar/jt_left.png"></a>
    </td></tr>
	</table>	
    
	</td>
  </tr>
</table>
</body>
</html>
