<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div >
    <div >
        <div >当前位置: 内容管理 - 列表</div>
        <a href="edit.html">  添加 </a>
    </div>
    <form action="#" method="post" style="padding-top:5px;">
        <div>
            标题: <input type="text" name="queryTitle" value="" style="width:100px"/>
            <input type="submit" value="查询"/>
        </div>

    </form>
    <form id="tableForm" method="post">
        <table  width="100%" cellspacing="1" cellpadding="0" border="0">
            <thead >
            <tr>
                <th width="20"><input type='checkbox' onclick='Pn.checkbox("ids",this.checked)'/></th>
                <th>ID</th>
                <th>标题</th>
                <th>类型</th>
                <th>发布者</th>
                <th>发布时间</th>
                <th>状态</th>
                <th>操作选项</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type='checkbox' name='ids' value='196'/></td>
                <td>196</td>
                <td>111
                </td>
                <td align="center">普通</td>
                <td align="center">kangaroo</td>
                <td align="center">2011-09-07</td>
                <td align="center">审核中</td>
                <td align="center">
                    <a href="#" >查看</a> |
                    <a href="edit.html" >修改</a> |
                    <a href="#" onclick="if(!confirm('您确定删除吗？')) {return false;}" >删除</a>
                </td>
            </tr>
            </tbody>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center" >
                    共 161 条&nbsp;
                    每页<input type="text" value="20" style="width:30px"/>条&nbsp;
                    <input type="button" value="首 页"/>
                    <input type="button" value="上一页"/>
                    <input type="button" value="下一页"/>
                    <input type="button" value="尾 页"/>&nbsp;
                    当前 1/9 页 &nbsp;转到第<input type="text" id="_goPs" style="width:50px"/>页
                    <input id="_goPage" type="button" value="转"/>
                </td>
            </tr>
        </table>
        <div>
        </div>
    </form>
</div>

</body>
</html>