  #content
    .gallery {
        text-align: left;
        margin: 28px 0 0 !important;
        padding: 0 !important
    }

    #content .bloc
    .gallery {
        margin-top: 0 !important
    }

    #content .gallery
    li {
        display: inline-block;
        padding: 5px;
        position: relative;
        margin: 5px;
        -moz-box-shadow: 0px 3px 5px #A3A3A3;
        -webkit-box-shadow: 0px 3px 5px #A3A3A3;
        -o-box-shadow: 0px 3px 5px #A3A3A3;
        box-shadow: 0px 3px 5px #A3A3A3;
        text-align: center;
        background: #FFF
    }

    #content .gallery li
    span.info {
        display: block;
        text-align: left
    }

    #content .gallery li
    .del {
        background: url(../../images/gallery/close2.png);
        width: 30px;
        height: 30px;
        display: none;
        position: absolute;
        top: -6px;
        right: -10px;
        text-indent: 3000px;
        text-decoration: none
    }

    #content .gallery li
    .large {
        position: absolute;
        bottom: 5px;
        right: 5px;
        background: url(../../images/gallery/enlarge.jpg);
        width: 19px;
        height: 19px;
        text-indent: 3000em;
        display: none
    }

    #content .gallery li
    .over {
        position: absolute;
        text-align: center;
        top: 50%;
        margin-top: -18px;
        width: 100%;
        text-decoration: none;
        display: none
    }

    #content .gallery li .over
    span {
        color: #FFF;
        text-decoration: none;
        background: #292828;
        background: rgba(0, 0, 0, 0.5);
        padding: 5px;
        display: inline;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px 3px 3px 3px
    }

    #content .gallery li:hover .del, #content .gallery li:hover .over, #content .gallery li:hover
    .large {
        display: block
    }

    #content .gallery li:hover
    img {
        filter: alpha(opacity = 30);
        -ms-filter: progid: DXImageTransform . Microsoft . Alpha(Opacity = 30);
        -moz-opacity: 0.3;
        opacity: 0.3
    }