<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>left</title>
<link href="../../css/sidebar/sidebar.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="../../js/common/jquery.js"></script>
<script type="text/javascript" src="../../js/common/sidebar.js"></script>
</head>
<body >
<div id="sidebar">
  <div id="sidebar-wrapper">
    <ul id="main-nav">
      
      <li> <a   class="nav-top-item">内容管理</a>
        <ul>
          <li><a href="content/dbList.html" target="rightFrame">所有待办新闻</a></li>
          <li><a href="content/index.html" target="rightFrame">普通新闻</a></li>
          <li><a href="content/index.html" target="rightFrame">图片新闻</a></li>
          <li><a href="content/index.html" target="rightFrame">所有已删新闻</a></li>
        </ul>
      </li>
      
      <li> <a class="nav-top-item"> 链接管理</a>
        <ul>
          <li><a href="friendlink/manage.html"  target="rightFrame" >链接管理</a></li>
          <li><a href="friendlink/ctg/manage.html"  target="rightFrame" >链接类别</a></li>
        </ul>
      </li>
      <li> <a class="nav-top-item">评论管理</a>
        <ul>
          <li><a href="content/index.html" target="rightFrame">我的工作</a></li>
          <li><a href="content/index.html" target="rightFrame">已发布</a></li>
          <li><a href="content/index.html" target="rightFrame">已删除发布</a></li>
        </ul>
      </li>
      <li> <a class="nav-top-item">广告管理</a>
        <ul>
          <li><a href="advertising/manage.html"  target="rightFrame" >广告管理</a></li>
        </ul>
      </li>
      <li> <a class="nav-top-item">留言管理</a>
        <ul>
          <li><a href="guestbook/manage.html"  target="rightFrame" >留言管理</a></li>
        </ul>
      </li>
      <li> <a class="nav-top-item" >投票管理</a>
        <ul>
          <li><a href="vote/manage.html"  target="rightFrame" >投票管理</a></li>
        </ul>
      </li>
      <li> <a class="nav-top-item">相册管理</a>
        <ul>
          <li><a href="album/album.html"  target="rightFrame" >相册管理</a></li>
        </ul>
      </li>
      
      <li> <a href="#" class="nav-top-item">采集管理</a>
        <ul>
          <li><a href="acquisition/manage.html"  target="rightFrame" >采集管理</a></li>
        </ul>
      </li>
      <li> <a class="nav-top-item"> 模板管理 </a>
        <ul>
          <li><a href="template/channel/manage.html" target="rightFrame">栏目模板管理</a></li>
          <li><a href="template/content/manage.html" target="rightFrame">内容模板管理</a></li>
        </ul>
      </li>
      <li > <a class="nav-top-item">栏目管理</a>
        <ul>
          <li><a href="channel/index.html" target="rightFrame" >栏目管理</a></li>
        </ul>
      </li>
    </ul>
    <!-- End #main-nav --> 
  </div>
</div>
<!-- End #sidebar -->
</body>
</html>