<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>

</head>
<body>
<iframe name="hiddenIframe" frameborder="0" border="0" style="display:none;width:0px;height:0px;"></iframe>
<div class="body-box">
    <div class="rhead">
        <div class="rpos">当前位置: 友情链接管理 - 添加</div>
        <form class="ropt">
            <input type="submit" value="返回列表" onclick="this.form.action='v_list.do';"/>
        </form>
        <div class="clear"></div>
    </div>
    <form method="post" action="o_save.do" id="jvForm">
        <table width="100%"  cellpadding="2" cellspacing="1" border="0">
            <tr>
                <td width="15%" ><span >*</span>网站名称:</td>
                <td colspan="1" width="35%" >
                    <input type="text" maxlength="150" name="name" class="required" maxlength="150"/></td>
                <td width="15%" ><span >*</span>网站地址:</td>
                <td colspan="1" width="35%" >
                    <input type="text" maxlength="255" value="http://"
                                                                       name="domain" class="required"
                                                                       style="width:200px" maxlength="255"/></td>
            </tr>
            <tr>
                <td width="15%" ><span >*</span>网站类别:</td>
                <td colspan="1" width="35%" >
                    <select name="ctgId" class="required">
                    <option value="1">文字链接</option>
                </select>
                </td>
                <td width="15%" ></td>
                <td colspan="1" width="35%" >
                  </td>
            </tr>

            <tr>
                <td width="15%" >网站简介:</td>
                <td colspan="3" width="85%" ><textarea cols="50" rows="3" name="description"
                                                                          maxlength="255"></textarea>
                </td>
            </tr>
            <tr>
                <td width="15%" ><span >*</span>排列顺序:</td>
                <td colspan="1" width="35%" ><input type="text" maxlength="11" value="10"
                                                                       name="priority" class="required"
                                                                       style="width:100px" maxlength="11"/></td>
                <td width="15%" ></td>
                <td colspan="1" width="35%" ></td>
            </tr>
            <tr>
                <td width="15%" ><span >*</span>显示:</td>
                <td colspan="3" width="85%" ><label><input type="radio" value="true"
                                                                              checked="checked" name="enabled"
                                                                              class="required"/>是</label> <label><input
                        type="radio" value="false" name="enabled" class="required"/>否</label></td>
            </tr>
            <tr>
                <td colspan="4" class="pn-fbutton">
                    <input type="submit" value="提交"/> &nbsp; <input type="reset" value="重置"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>