<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>left</title>
<link href="../css/sidebar/sidebar.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="../js/common/jquery.js"></script>
<script type="text/javascript" src="../js/common/sidebar.js"></script>

</head>
<body >
  <div id="sidebar">
    <div id="sidebar-wrapper">
      <ul id="main-nav">
              <li> <a href="#"  class="nav-top-item current"> 我的稿件 </a>
          <ul>
            <li><a href="#">普通新闻7条</a></li>
            <li><a href="#">图片新闻1条</a></li>
          </ul>
        </li>

        <li> <a href="#"  class="nav-top-item current"> 待办工作 </a>
          <ul>
            <li><a href="#">普通新闻7条</a></li>
            <li><a href="#">图片新闻1条</a></li>
          </ul>
        </li>
          <li>
              <a href="#" class="nav-top-item"> 个人信息 </a>
        </li>

      </ul>
      <!-- End #main-nav -->
    </div>
  </div>
  <!-- End #sidebar -->
</body>
</html>