<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title></title>
    <style type="text/css">
*{margin:0 auto;padding:0 inherit;}
html{height:100%;overflow:hidden;}
body{height:100%;background:url(../images/admin/top_bg.gif) top left repeat-x; font-size:14px;}
.meun a{
	text-decoration:none; font-weight:700; color:#fff;}
.logo{
	font-family:"黑体"; font-size:200%; color:#FFF;}
</style>

</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="1%"></td>
        <td width="19%" class="logo">网站后台管理</td>
        <td width="80%" height="69">
        <table width="500" border="0" align="right" cellpadding="0" cellspacing="0">
          <tr>
            <td width="80" align="center"><img src="../images/admin/icon-home.png" width="24" height="24" border="0" /></td>
            <td width="80" align="center"><img src="../images/admin/icon-content.png" width="24" height="24" border="0" /></td>

            <td width="80" align="center"><img src="../images/admin/icon-user.png" width="24" height="24" border="0" /></td>
            <td width="80" align="center"><img src="../images/admin/icon-exit.png" width="24" height="24" border="0" /></td>
            <td width="100">&nbsp;</td>
          </tr>
          <tr class="meun">
            <td height="20" align="center"><a href="main.html" target="mainFrame">内部首页</a></td>
            <td align="center"><a href="cms/index.html" target="mainFrame">内容管理</a></td>

            <td align="center"><a href="system/index.html" target="mainFrame">系统管理</a></td>
            <td align="center"><a href="login.html" target="_top" id="logout" onclick="return confirm('你确定退出？');">退出</a></td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table>
</body>
</html>