<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <script type="text/javascript" src="../../../js/common/jquery.js"></script>
     <script type="text/javascript" src="../../../js/admin/pn.js"></script>

    <link href="../../../css/admin/theme.css" rel="stylesheet" type="text/css"/>
<title></title>

<script type="text/javascript">
function getTableForm() {
	return document.getElementById('tableForm');
}
function optDelete() {
	if(Pn.checkedCount('ids')<=0) {
		alert("请选择您要操作的数据");
		return;
	}
	if(!confirm("您确定删除吗？")) {
		return;
	}
	var f = getTableForm();
	f.action="#";//delete
	f.submit();
}
function optPriority() {
	var f = getTableForm();
	f.action="#";//priority
	f.submit();
}
</script>
</head>
<body>
<div class="body-box">
<div class="rhead">
	<div class="rpos">当前位置: 栏目管理 - 列表</div>
      <a href="#"> 添加子栏目</a>
	
</div>
<form id="tableForm" method="post">
<input type="hidden" name="root" value=""/>
<input type="hidden" name="pageNo" value=""/>
<table class="pn-ltable" style="" width="100%" cellspacing="1" cellpadding="0" border="0">
<thead class="pn-lthead"><tr>
	<th width="20">
        <input type='checkbox' onclick='Pn.checkbox("ids",this.checked)'/></th>
	<th>ID</th>
	<th>栏目名称</th>
	<th>访问路径</th>
	<th>排列顺序</th>
	<th>显示</th>
	<th>操作选项</th></tr></thead>
<tbody  class="pn-ltbody">
<tr>
	<td><input type='checkbox' name='ids' value='1'/></td>
	<td>1</td>
	<td>新闻资讯 </td>
	<td>news</td>
	<td align="center"><input type="text" name="priority" value="1" style="width:40px"/></td>
	<td align="center">是</td>
	<td align="center">		<a href="edit.html?id=1" class="pn-opt">修改</a> |
        <a href="#" class="pn-opt" onclick="if(!confirm('您确定删除吗？')) {return false;}">删除</a></td>
</tr>
<tr>
	<td><input type='checkbox' name='ids' value='1'/></td>
	<td>1</td>
	<td>新闻资讯 </td>
	<td>news</td>
	<td align="center"><input type="text" name="priority" value="1" style="width:40px"/></td>
	<td align="center">是</td>
	<td align="center">		<a href="edit.html?id=1" class="pn-opt">修改</a> |
        <a href="#" class="pn-opt" onclick="if(!confirm('您确定删除吗？')) {return false;}">删除</a></td>
</tr>
</tbody>
</table>
<div>
	<input type="button" value="删除" onclick="optDelete();"/>
&nbsp; <input type="button" value="保存排列顺序" onclick="optPriority();"/>
</div>
</form>
</div>
</body>
</html>
