
<html>
<head>
</head>
<body leftmargin="10" topmargin="10">
<table width="810" border="0" cellpadding="0" cellspacing="0" background="/images/qzf_images/bgcolor1.jpg"
       class="border-sx">
  <tr bgcolor="B4D7E9">
    <td width="10" height="30">&nbsp;</td>
    <td width="21" bgcolor="B4D7E9" class="boldtext"><img src="/images/team.gif" width="16" height="16"></td>
    <td width="69" bgcolor="B4D7E9" class="boldtext">您的位置：</td>
    <td width="578"><span class="text14">用户管理<img src="/images/arrow.gif" width="19" height="10">修改单位</span> </td>
    <td width="21"></td>
    <td width="44"></td>
    <td width="22"><img src="/images/icon/hy_right.gif" name="Image2a" width="16" height="13"></td>
    <td width="30"><a href="/module?md=security-unit-manager" class="boldtext">返回</a></td>
    <td width="13">&nbsp;</td>
  </tr>
</table>
<form action="/module?md=security-unit-modify-save" method="post" name="inputForm" id="inputForm">
        <table width="810" border="0" align="left" cellspacing="0" class="text12-link" height="178">
          <tr>
            <td height="23" align="right" class="boldtext">&nbsp;</td>
            <td width="83%" height="23">&nbsp;

            </td>
          </tr>
          <tr>
            <td height="40" align="right" class="boldtext">单位编号：</td>
            <td height="23"><input name="id" type="hidden" class="fromobject" id="id" size="50" value="SW">SW</td>
          </tr>
          <tr>
            <td width="17%" height="40" align="right" class="boldtext"> 单位名称：</td>
            <td height="23"><input name="name" type="text"  value="南海区委" class="fromline" size="80" maxlength="18">
            <img src="/images/icon/icon_new.gif" width="18" height="15"></td>
          </tr>
          <tr>
            <td width="17%" height="40" align="right" class="boldtext"> 单位描述：</td>
            <td height="23"><input name="description" type="text" value="南海市委" class="fromline" size="80" maxlength="50">
            <img src="/images/icon/icon_new.gif" width="18" height="15"></td>
          </tr>
          <tr>
            <td width="17%" height="40" align="right" class="boldtext"> 单位排序：</td>
            <td height="23"><input name="sort" type="text" value="1" class="fromline" size="20"
                                               maxlength="2">              <img src="/images/icon/icon_new.gif" width="18" height="15">            <div align="right"></div></td>
          </tr>

                 <tr>
            <td width="17%" height="40" align="right" class="boldtext"> 是否开通内部OA：</td>
            <td height="23">
            <input type="radio" name="aunoaflag" id="aunoaflag1" value="1"  checked >是
            <input type="radio" name="aunoaflag" id="aunoaflag2" value="0" >否</td>
          </tr>



             <tr>
		<td height="43" colspan="2" align="center" >
			<input type="submit" class="BTinput" value="提 交" />
			&nbsp;
			<input name="重置" type="reset" class="BTinput" value="重 置"/></td>
	</tr>
  </table>
</form>
</body>
</html>
