<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
</head>
<body>
<div>
    <div>
        <div>当前位置: 投票管理 - 列表</div>
        添加

    </div>
    <form id="tableForm" method="post">
        <input type="hidden" name="pageNo" value="1"/>
        <table width="100%" cellspacing="1" cellpadding="0" border="0">
            <thead>
            <tr>
                <th width="20">
                    <input type='checkbox' onclick='Pn.checkbox("ids",this.checked)'/>
                </th>
                <th>ID</th>
                <th>标题</th>
                <th>总投票数</th>
                <th>默认</th>
                <th>暂停</th>
                <th>操作选项</th>
            </tr>
            </thead>
            <tbody >
            <tr>
                <td><input type='checkbox' name='ids' value='1'/></td>
                <td>1</td>
                <td>您为什么选择jsp cms,java cms?</td>
                <td align="right">104</td>
                <td align="center"><span style="color:red">是</span></td>
                <td align="center">否</td>
                <td align="center">
                    <a href="edit.html" >修改</a>
                    | 
                    <a href="#" onclick="if(!confirm('您确定删除吗？')) {return false;}" >删除</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div><input type="button" value="删除" onclick="optDelete();"/></div>
    </form>
</div>
</body>
</html>