@charset "UTF-8";
/* CSS Document */
*, html, htm, body, table, div, span, p, ul, li {
	margin:0 auto;
	padding:0 inherit;
	word-break:break-all;
	word-wrap:break-word;
	font-size:12px;
}

a {text-decoration:none;}
a:visited {color:#000}
a:link {color:#000}
a:hover {text-decoration:underline}

tr.odd {background:#FFF;height:25px;line-height:25px;}
tr.even {background:#EEE;}
tr.highlight {background:#fdf9eb;}
tr.selected {background:#b3d9b3;color:#fff;}

.font14 {font-size:14px;}
.font14 a {color:#006cb5;}
.font18 {font-size:20px;font-weight:bold;color:#d42936;}
.font12 {font-size:12px;}
.font12 a {font-size:12px;}
.gray {color:#828282;}
.white {color:#FFF;}
.time{ font-family:Tahoma, Geneva, sans-serif;font-size:12px;}
.tdBorder{ border-bottom:solid 1px #CCC;}
.tableBorder{ border-collapse:collapse; border:solid 1px #c1c1c1;}
.titleBg{
	background:url(../images/sidebar/title_bg.png) repeat-x top left;
	height:30px;
	font-weight:bold;
	padding-left:5px;
	}
.tdPadding{padding-left:5px;white-space:nowrap;}
.copyright {
	background:url(../images/copyright_bg.gif) repeat-x top left;
	background-color:#f4f4f4;
	font-size:12px;
	text-align:center;
}
fieldset{width:98%; padding-bottom:15px;}
legend{ margin:0; padding:5px; font-weight:bold; font-size:14px;}

.btnNews{
	background:url(../images/sidebar/title_bg.png) repeat-x top left;
	height:27px;
	width:100px;
	line-height:27px;
	text-align:center;
	border-left:1px solid #c1c1c1;
	border-top:1px solid #c1c1c1;
	border-right:1px solid #c1c1c1;
	white-space:nowrap;
	}
