<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="../../../css/admin.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="../../../js/common/jquery.js"></script>
<script type="text/javascript" src="../../../js/common/table.js"></script>
</head>
<body>
<br/>
<table width="99%" border="0" cellspacing="0" cellpadding="0">
  <form id="form1" name="form1" method="post" action="">
    <tr>
      <td width="84%">当前位置: 内容管理 - 列表</td>
      <td width="1%">&nbsp;</td>
      <td width="7%">&nbsp;</td>
      <td width="1%">&nbsp;</td>
      <td width="7%">&nbsp;</td>
    </tr>
    <tr>
      <td align="right">按<select name="select" id="select">
        <option>政协动态</option>
        <option>政务公开</option>
        <option>政协提案</option>
        <option>社情民意</option>
        <option>政协委员</option>
        <option>民主党派</option>
      </select>
      查看列表</td>
      <td>&nbsp;</td>
      <td class="btnNews"><a href="#">普通新闻</a></td>
      <td>&nbsp;</td>
      <td class="btnNews"><a href="#">图片新闻</a></td>
    </tr>
  </form>
</table>
<table width="99%" border="0" cellspacing="0" cellpadding="0" class="tableList tableBorder">
  <tr>
    <td width="19%" height="30" class="titleBg">新闻栏目</td>
    <td width="45%" class="titleBg">新闻标题</td>
    <td width="10%" class="titleBg">类别</td>
    <td width="15%" class="titleBg">创建人</td>
    <td width="12%" class="titleBg">创建时间</td>
    <td width="13%" class="titleBg">操作</td>
  </tr>
  <tr>
    <td height="25" class="tdPadding">政协动态</td>
    <td class="tdPadding">南海政协第某某次大会胜利召开大会讨论网站是怎么样改的这样改行不行的问题</td>
    <td class="tdPadding">文字新闻</td>
    <td class="tdPadding">管理员</td>
    <td class="tdPadding">2011-10-6</td>
    <td class="tdPadding">发布 | 修改 | 删除</td>
  </tr>
  <tr>
    <td height="25" class="tdPadding">政协动态</td>
    <td class="tdPadding">南海政协第某某次大会胜利召开大会讨论网站是怎么样改的这样改问题也讨论了</td>
    <td class="tdPadding">文字新闻</td>
    <td class="tdPadding">管理员</td>
    <td class="tdPadding">2011-10-6</td>
    <td class="tdPadding">发布 | 修改 | 删除</td>
  </tr>
  <tr>
    <td height="25" class="tdPadding">政协动态</td>
    <td class="tdPadding">南海政协第某某次大会胜利召开大会讨论网站是怎么样改的这样改问题也讨论了</td>
    <td class="tdPadding">文字新闻</td>
    <td class="tdPadding">管理员</td>
    <td class="tdPadding">2011-10-6</td>
    <td class="tdPadding">发布 | 修改 | 删除</td>
  </tr>
</table>
</body>
</html>