<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>

</head>
<body>
<div class="body-box">
    <div class="rhead">
        <div class="rpos">当前位置: 用户管理 - 授权</div>
        <form class="ropt">
            <input type="submit" value="返回列表" onclick="window.history.go(-1);"/>
        </form>
        <div class="clear"></div>
    </div>
    <form method="post" action="o_save.do" id="jvForm">
        <table width="100%"  cellpadding="2" cellspacing="1" border="0">
            <tr>
                <td width="15%" >
                <select name="selectedRole" multiple>
                  <option>管理员</option>
                </select>
                </td>
                <td colspan="1" width="35%" align="center" valign="middle" >
                <input name="" type="button" value=">>" />
                <input name="" type="button" value=">>>" />
                <input name="" type="button" value="<<<" />
                <input name="" type="button" value="<<" />
                </td>
                <td width="15%" >
                <select name="allRoles" multiple>
                  <option>管理员</option>
                  <option>普通角色</option>
                  <option>匿名用户</option>
                </select></td>
            </tr>
        </table>
        <input name="" type="button" value="保 存" />&nbsp;&nbsp;&nbsp;<input name="" type="button" value="返 回" />
    </form>
</div>
</body>
</html>